# Node
node_modules/

# Environment
.env
.env.local

# Build output
dist/
build/
coverage/

# OS
.DS_Store

# Logs
*.log
npm-debug.log

# IDEs
.vscode/
.idea/

# Terraform (infrastructure folder)
infrastructure/.terraform/
infrastructure/*.tfstate
infrastructure/*.tfstate.backup
infrastructure/.terraform.lock.hcl

# Docker / Compose
docker-compose.override.yml

# Misc
logs/
